@font-face {
    font-family: 'calibri';
    src: url("../font/Calibri/a78cfad3beb089a6ce86d4e280fa270b.eot"); /* IE9*/
    src: url("../font/Calibri/a78cfad3beb089a6ce86d4e280fa270b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/Calibri/a78cfad3beb089a6ce86d4e280fa270b.woff2") format("woff2"), /* chrome、firefox */
    url("../font/Calibri/a78cfad3beb089a6ce86d4e280fa270b.woff") format("woff"), /* chrome、firefox */
    url("../font/Calibri/a78cfad3beb089a6ce86d4e280fa270b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../font/Calibri/a78cfad3beb089a6ce86d4e280fa270b.svg#Calibri") format("svg"); /* iOS 4.1- */
}

body, button {
    font-family: 'calibri' !important;
}

topa, a:hover {
	color: #fff;
  	text-decoration: none;
}

.back{
    margin: 0 auto;
    width: 200px;
}

.button, .btn-primary {
    float: right;
}

.card{
    border-radius: 10px !important;
}

.card-body{
    padding: 40px !important;
}

.card-footer{
    margin: 0 50px;
    text-align: center;
}

.container{
	height:100%;
	width:100%;
	display:inline-block;
	max-width: 100%;
}

.col-md-12{
	padding: 2.5% 5%;
}

.col-md-7{
	padding: 2.5% 5%;
	background-color: #2C2525;
	color: #fff;
}

.col-md-5{
    padding: 2.5% 2.5%;
}

.form-group{
	margin-bottom: 0 !important;
}

.form-group-2{
	padding: calc(.375rem + 1px);
}

.form-control-plaintext{
	color: #fff;
}

.image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

label{
    margin:10px 0 0 0 !important;
}

.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.top{
    background-color: #00358c;
    padding: 2.5% 2.5%;
}
.li {
    transition: all 200ms ease-in;
}

.timestamp {
    margin-bottom: 20px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.status {
    padding: 0 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

.status h4 {
    font-weight: 600;
}

.status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
}

.li .status {
    border-top: 2px solid white;
}
.li.complete .status:before {
    background-color: yellow;
    border: none;
    transition: all 200ms ease-in;
}
.li .status h5 {
    color: white;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
    .timeline {
        list-style-type: none;
        display: block;
    }

    .li {
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
    }

    .timestamp {
        width: 100px;
    }

    .status:before {
        left: -8%;
        top: 30%;
        transition: all 200ms ease-in;
    }
}

button {
    position: absolute;
    width: 120px;
    min-width: 100px;
    padding: 20px;
    margin: 20px;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
}

#toggleButton {
    position: absolute;
    left: 50px;
    top: 20px;
    background-color: #75C7F6;
}

.timeline1 h5 {
    top: 10px;
    right: 100%;
    position: relative;
}

.timeline1:before {
    content: '1' !important;
    text-align: center;
    color: blue;
    right: 100% !important;
    left: unset !important;
}

/*top row*/

.timeline2 h5 {
    top: 10px;
    left: 130%;
    position: relative;
}

.timeline2:before {
    content: '2' !important;
    text-align: center;
    left: 100% !important;
    right: unset !important;
}

.brand-logo {
    height: 60px;
    width: 200px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.brand-logo-new {
    width: 200px;
    right: 120px;
    top: 20px;
    padding-top: 25px;
    float: right;
}

#btn_resend_otp_code {
    margin-top: 30px;
}

/**
    Bootstrap override
 */
.btn-primary { background-color: #003b78 !important;border-color: #003b78; }
.btn-secondary { background-color: #8f8f8f !important;border-color: #8f8f8f; }
.btn-success { background-color: #1dab01 !important;border-color: #1dab01; }

/*css basic ui*/
.custom{
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    min-width: 420px;
    float: right;
}

.row-custom{
    margin: 50px auto 0 auto;
}

.form-control-custom{
    width:30px;
}

p#countdown{
    display:none; color:red; font-size:larger; margin-top:25px;
}

/**
    Custom Sweet Alert
 */
.swal2-actions {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.swal2-confirm {
    left: 50%;
    transform: translateX(-50%);
    background-color: #003b78 !important;
}

/**
    Responsive screen & max width 600px:
 */
@media only screen and (max-width: 600px) {
    #div_detail div.col, #div_payment div.col {
        width: 100%;
        min-width: -webkit-fill-available;
    }
   /*[id*="form-pembayaran"] {*/
        /*width: 100%;*/
        /*min-width: -webkit-fill-available;*/
    /*}*/
}

/**
    Responsive screen & max width: 768px
 */
@media only screen and (max-width: 768px) and (min-width: 601px) {
    .top {
        padding: 5% 2.5%;
    }
    ul#timeline li {
        width: 100px;
    }
    h5 {
        font-size: 1rem;
    }
    div.status.timeline1 h5 {
        right: 300%;
    }
    div.status.timeline2 h5 {
        left: 300%;
    }
    .brand-logo {
        width: 100px;
        height: auto;
    }
    label {
        font-size: smaller;
    }
    div.col-md-7, div.col-md {
        padding: 2.5%;
    }
    button#btn_resend_otp_code {
        margin-top: 15px;
    }
    button#btn_submit {
        margin: 20px 0;
    }

    div.card-body.custom {
        float: none !important;
    }

   /*[id*="form-pembayaran"] {*/
        /*width: 100%;*/
        /*min-width: -webkit-fill-available;*/
    /*}*/
    #div_detail div.col, #div_payment div.col {
        width: 100%;
        min-width: -webkit-fill-available;
    }
}
/**
    Responsive screen & max width: 992px
 */
@media only screen and (max-width: 992px) and (min-width: 769px) {
   /*[id*="form-pembayaran"] {*/
        /*width: 100%;*/
        /*min-width: -webkit-fill-available;*/
    /*}*/
    #div_detail div.col, #div_payment div.col {
        width: 100%;
        min-width: -webkit-fill-available;
    }

    button{
        margin: 20px 0;
    }

    .form-group{
        float:none;
    }

    .custom{
        min-width: 400px;
        float: unset;
    }
}

/**
    Responsive screen & max width: 1048px
 */
@media only screen and (max-width: 1048px) {
/*     .col-6{
    width: 100%;
    min-width: -webkit-fill-available;
} */
    .custom{
        min-width: 400px;
        float: unset;
    }
}
